.daftar-jawal-kajian-sort {
  background-color: white;
  border: 1px solid var(--green);
  width: 300px;
  height: 40px;
  padding-left: 1rem;
}

.daftar-jadwal-kajian-filter {
  background-color: var(--dark-green);
  font-family: "Roboto", sans-serif;
  height: 640px;
  width: 100%;
  margin-top: 80px;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.filter-custom-width {
  width: 25%;
  height: 2rem;
}

.filter-button-primary {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  padding: 0.2rem 1rem;
  transition: all 200ms;
  border: 4px solid transparent;
  color: var(--dark-green);
  background-color: white;
  width: 100%;
  box-shadow: 0 0 10px;
}

.filter-button-primary:hover {
  background-color: var(--grey);
}

.filter-button-secondary {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  border-radius: 5px;
  padding: 0.2rem 1rem;
  transition: all 200ms;
  color: white;
  border: 2px solid white;
}

.filter-button-secondary:hover {
  background-color: white;
  color: var(--dark-green);
}
