.detail-penceramah-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.detail-penceramah-card-deskripsi {
  width: 100%;
  background-color: white;
  padding: 1.25rem;
}
