.detail-jadwal-kajian-card-primary {
  height: 400px;
  width: 100%;
  background-color: white;
  padding: 1rem;
}

.detail-jadwal-kajian-card-primary-image {
  width: 100%;
  height: 40%;
  object-fit: cover;
}

.detail-jadwal-kajian-card-secondary {
  width: 100%;
  height: 200px;
  background-color: white;
  padding: 1rem;
}

.detail-jadwal-kajian-card-secondary:hover {
  box-shadow: 0 3px 8px 0 #b3b3b3;
  cursor: pointer;
}

.detail-jadwal-kajian-penceramah-image-container {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.daftar-penceramah-search {
  border: 1px solid var(--green);
  border-radius: 4px 0px 0px 4px;
  font-size: 14px;
}

.daftar-penceramah-search-button {
  background-color: var(--dark-green);
  border: none;
  border-radius: 0px 4px 4px 0px;
  padding-left: 1rem;
  padding-right: 1rem;
}
