.landing-page-tanya-jawab {
  position: absolute;

  background-image: radial-gradient(
    farthest-corner at 20px 20px,
    var(--light-green),
    var(--green)
  );

  height: 680px;
  width: 65%;

  margin-top: 2rem;

  margin-bottom: 100px;

  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.landing-background-hubungi {
  background-image: radial-gradient(
    farthest-corner at 20px 20px,
    var(--light-green),
    var(--green)
  );

  padding-top: 5rem;
  padding-bottom: 5rem;
}

.footer-background {
  background-color: var(--dark-green);
}
