.card-kajian {
  height: 280px;
  width: 200px;
  box-shadow: 0 2px 4px 0 #b3b3b3;
  background-color: white;
  margin-bottom: 1rem;
}

.card-kajian:hover {
  box-shadow: 0 3px 8px 0 #b3b3b3;
  cursor: pointer;
}

.card-kajian-image {
  object-fit: cover;
  height: 45%;
  width: 100%;
}

.card-kajian-detail {
  padding: 0.5rem 0.75rem;
}

.card-kajian-judul {
  font-weight: bold;
}

.card-kajian-deskripsi {
  font-size: 14px;
}

.card-kajian-lokasi {
  font-size: 12px;
}

.mobile-card-kajian {
  width: 40vw;
  background-color: white;
  height: 240px;
  margin-top: 1rem;
}

.mobile-card-kajian-image {
  object-fit: cover;
  height: 45%;
  width: 100%;
}
