.card-tanya-jawab {
  height: 250px;
  width: 100%;
  box-shadow: 0 2px 4px 0 #b3b3b3;
  background-color: white;
}

.card-tanya-image {
  object-fit: cover;
  height: 100%;
  width: 40%;
}

.card-tanya-detail {
  padding: 1.25rem;
}

.card-tanya-judul {
  font-weight: bold;
}

.card-tanya-deskripsi {
  font-size: 14px;
}

.card-tanya-time {
  font-size: 12px;
}

.card-tanya-action {
  font-size: 16px;
}

.mobile-card-tanya-jawab {
  background-color: white;
  width: 100%;
  height: 170px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.55);
  margin-top: 1rem;
}

.mobile-card-tanya-image {
  height: 170px;
  width: 36vw;
  object-fit: cover;
}

.mobile-background-berlangganan {
  background-color: var(--light-green);
}
